.container {
    font-family: 'Trebuchet MS', sans-serif;
}

.main-title { 
    background-color: rgb(151, 36, 36); 
    color: #FFF;
    height: 80px;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 40px;
}


/* Form style */

#form-holder {
    display: inline-block;
    width: 30%;
    margin-left: 180px;
}

.form-header{
    background-color: rgb(151, 36, 36); 
    color: #FFF;
    height: 80px;
    text-align: center;
    padding-top: 5px;
}

.card-form {
    display: flex;
    flex-direction: column;
    background-color: #d3d3d363;
    padding-top: 15px;
    border: 0.5px solid rgb(151, 36, 36);
    margin-bottom: 50px;
}

label {
    font-size: 19px;
    margin: 0px auto;
}

input {
    height: 30px;
    width: 75%;
    font-size: 15px;
    text-align: center;
    border: 0;
    outline: 0;
    border-bottom: 1px solid rgb(151, 36, 36);
    background: transparent;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 22px;
    padding-bottom: 5px;
    padding-top: 5px;
    
}
/* 
.form-btn { 
    background-color: rgb(151, 36, 36);
    color: #FFF;
    font-size: 25px;
    height: 50px;
    width: 100%;
    margin-bottom: 0px;
    border: hidden;
} */

.form-btn:hover {
  cursor: pointer;
}

#submit-btn {
  display: block;
  background-color: #968133;
  color: #FFF;
  font-size: 25px;
  height: 50px;
  width: 100%;
  margin-bottom: 0px;
  border: hidden;
}

#edit-btn {
  display: none;
  background-color: #156596;
  color: #FFF;
  font-size: 25px;
  height: 50px;
  width: 100%;
  margin-bottom: 0px;
  border: hidden;
}


/* Card style */
#card-holder {
    display: inline-block;
    width: 27%;
    float: right;
    margin-right: 180px;
    margin-top: 70px;
}

.dots {
  background:
    radial-gradient( #000, transparent 17%),
    radial-gradient(#000, transparent 19%),
    transparent;
  background-size: 6px 6px;
  background-position: 0 0, 3px 3px;
}

.card {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  display: grid;
  height: 213px;
  width: 395px;
}


/* The front of a card */

.front {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-bottom: 80px;
}
  
  .grey-front {
    background-color: #474747;
    grid-column: 8 / span 5;
    grid-row: 1 / span 4;
  }

  .white-front {
    background-color: #FFF;
    grid-column: 1 / span 7;
    grid-row: 1 / span 4;
  }

  .red-front {
    background-color: rgb(151, 36, 36);
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    grid-row: 1 / span 3;
    grid-column: 1 / span 11;
    position: relative;
    z-index: 2;
  }

  .dots {
    grid-column: 1 / span 12;
    grid-row: 3 / span 2;
    margin: 0 0 15px 20px;
    z-index: 1;
  }

  .personal-intro {
    background-color: #000;
    color: #FFF;
    display: flex;
    flex-direction: column;
    grid-column: 4 / span 6;
    grid-row: 2 / span 2;
    justify-content: center;
    text-align: center;
    z-index: 3;
  }
  
  .personal-intro p {
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 6px;
  }

  .personal-intro p:first-of-type {
    font-size: 18px;
  }

  .personal-intro p:last-of-type {
    font-size: 8px;
    margin-top: 5px;
  }


 /* The back of a card */

.back {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr); 
}
  
.red-back{
    background-color: rgb(151, 36, 36);
    grid-column: 1 / span 9;
    grid-row: 1 / span 3;
  }
  
  .top {
    grid-column: 8 / span 8;
    grid-row: 2 / span 3;
    margin: 0;
  }
  
  .personal-info {
    grid-column: 2 / span 8;
    grid-row: 1 / span 8;
  }

  .personal-info p {
    font-size: 13px;
  }

  .personal-info p:first-of-type {
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFF;
    margin-top: 15px;
  }

  .personal-info p:nth-of-type(2) {
    font-size: 15px;
  }
  
  .bottom {
    grid-column: 1 / span 8;
    grid-row: 11 / span 2;
    z-index: 2;
    margin: 0;
  }
  
  .grey-back {
    background-color: #474747;
    grid-column: 8 / span 5;
    grid-row: 10 / span 3;
  }


  /* Alert modul */

  .alert {
    position: fixed;
    z-index: 100;
    width: 20%;
    top: 49vh;
    left: 43%;
    display: none;
    background-color: #d3d3d363;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .alert.visible {
    display: block;
    animation: fade-slide-in 0.3s ease-out forwards;
  }
  
  .alert .alert-title {
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid rgb(121, 31, 31);
    background: rgb(151, 36, 36);
    color: #FFF;
  }
  
  .alert-content {
    padding: 1rem;
  }
  
  .alert .alert-actions {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
  }

  #cat-title { 
    background-color: #474747;
  }

  .btn {
    height: 32px;
    color: #FFF;
    text-transform: uppercase;
  }

  .btn-yes {
    background-color: #c10505;
  }

  .btn-cancel { 
    background-color: #003e73;
    margin-right: 5px;
  }

  .btn-ok { 
    background-color: rgb(151, 36, 36);
    width: 15%;
  }


  /* Search and Filter */

  #filters-holder { 
    display: flex;
  }

  #search-bar { 
    width: 16%;
    margin-left: 184px;
    margin-right: 64px;
  }

  .filters {
    height: 35px;
    border: 0;
    border-bottom: 1px solid rgb(151, 36, 36);
    font-size: 16px;
    font-family: 'Trebuchet MS', sans-serif;
    width: 8%;
    margin-left: 25px;
    margin-top: 6px;
  }

  #discount-filter {
    width: 6%;
    margin-right: 75px;
  }

  #date-filter { 
    width: 15%;
    margin-left: 20px;
  }

/*   .update-info { 
    width: 7%;
    height: 39px;
    border-bottom: 1px solid rgb(151, 36, 36)!important;
    border: hidden;
    background-color: #EEE;;
    font-size: 14px;
    font-weight: bold;
  } */

  .update-info {
    display: none;
  }

  
  /* Table style */

  table {
    border: 1px solid #5e5e5e8c;
    width: 76%;
    height: 82px;
    text-align: center;
    margin-left: 180px;
    display: table;
  }

  table td, table th {
    border: 1px solid #5e5e5e38;
  }

  tbody td {
    font-size: 14px;
    color: #000000;
    padding: 7px 2px;
  }

  table tr { 
    transform: all .25s ease-in-out;
  }

  table tr:hover { 
    background-color: rgb(182, 181, 181);
    cursor: pointer;
  }

  table tr:nth-child(even) {
    background-color: #EEE;
  }

  table tr:nth-child(even):hover {
    background-color: rgb(182, 181, 181);
  }
  
  table thead {
    background-color: #595858c9;
  }
  table thead th {
    font-size: 19px;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    padding: 7px;
  }

  table thead th:hover {
    cursor: pointer;
    background-color: #595858;
  }